@import url(https://fonts.googleapis.com/css?family=Poppins:300);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Helvetica, sans-serif;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 100%;
    transition: 0.3s;
    max-width: 400px;
}

.container:hover{
    transform: scale(1.02);
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(to right, #064979, #680581);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

h2{
    text-align: center;
    padding-bottom: 20px;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.question{
    margin-bottom: 25px;
}

.question p{
    font-size: 18px;
    font-weight: bold;
}

label{
    margin-left: 10px;
    display: block;
    cursor: pointer;
    background-color: azure;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

label:hover{
    background-color: antiquewhite;
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #289bb8;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: #fff;
    transform: translateY(-2px);
}

#result{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkorchid;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}

.excellent{
    background-color: rgb(13, 206, 113);
    color: white;
    box-shadow: 0 4px 8px rgb(1, 38, 1);
    border: 2px solid rgb(2, 85, 2);
}

.good{
    background-color: rgb(174, 208, 69);
    color: white;
    box-shadow: 0 4px 8px rgb(116, 129, 2);
    border: 2px solid rgb(250, 254, 3);
}

.try-again{
    background-color: rgb(232, 8, 8);
    color: white;
    box-shadow: 0 4px 8px rgb(84, 10, 10);
    border: 2px solid rgb(220, 101, 101);
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left:0;
}

.user-menu{
    display: flex;
    align-items: center;
}

#username-display{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

#logout-btn{
    position: relative;
    display: inline-block;
    color: #289bb8;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 15px;
}
#logout-btn:hover {
    background: #289bb8;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #289bb8, 0 0 25px #289bb8, 0 0 50px #289bb8, 0 0 100px #289bb8;
}

#logout-btn span {
    position: absolute;
    display: block;
}

#logout-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #289bb8);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

#logout-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #289bb8);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

#logout-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #289bb8);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

#logout-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #289bb8);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.difficulty-selection{
    margin: 20px 0;
}

.hidden{
    display: none;
}

.difficulty-btn{
    background-color: #289bb8;
    color: white;
    padding: 10px 0 20px 0;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0,3s;
}

.difficulty-btn:hover{
    background: #2c5364;
}

#result{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.option:hover{
    background-color: ;
}

.option input{type="radio"}{
    display: none;
}

.option .custom-radio{
    width: 16px;
    height: 16px;
    border: 2px solid #871a66;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option input [type="radio"]:checked + .custom-radio{
    background-color: #ef26b2;

}

.container input[type="radio"]:checked + .custom-radio:before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: azure;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #result{
    font-size: 1rem;
    padding: 10px;
    border-radius: 6px;
    }
}

@media (max-width: 600px) {
    .container{
        padding: 20px;
    }
    h1{
        font-size: 20px;
    }
    
}