<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <title>Jeu Quiz - Connexion</title>
</head>
<body>
    <h1>Jeu Quizz</h1>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            <h2>Se connecter</h2>
            <input type="text" placeholder="Nom d'utilisateur" id="login-name" name="name" required />
            <input type="password" placeholder="Mot de passe" id="login-password" name="password" required />
            <button class="btn" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Connexion
            </button>
            <p class="message">Pas encore inscrit ? <a href="{{ path('register') }}">Créer un compte</a></p>
        </form>
    </div>
</div>
<script src="{{ asset('js/login.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>